.set-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 2rem;
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }
  
  .brand-title {
    font-family: 'Marcellus SC', serif;
    font-size: 32px;
    color: #1e73be;
  }
  
  .password-form {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 287px;
    border: 1px solid #000000;
    margin-bottom: 8rem;
  }
  
  .form-title {
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 2rem;
}
  
  .input-field {
    width: 90%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 16px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #D9D9D9;
}
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .back-button, .next-button {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .back-button {
    background-color: transparent;
    color: #000000;
    border: none;
    font-weight: 600;
  }
  
  .back-button:hover{
    background-color: #1e73be;
    color: #FFFFFF;
    border-radius: 20px;
  }
  .next-button:hover {
    background-color: #1e73be;
    color: #FFFFFF;
    border-radius: 20px;
  }
  .next-button {
    color: #000000;
    border: none;
    font-weight: 600;
    background: none;
  }  

  .Passw{
    font-family: 'Lexend', sans-serif;
    margin-bottom: 14px;
}